<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <title>근무관리시스템 관리자화면</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="js/jquery.messagebox.js"></script>

    <script type="text/javascript">
        var msg;
        jQuery( document ).ready( function( $ ) {    
            msg = $("body").messageBox({
              modal:true,
              autoClose: 0,
              locale:{
              NO : 'No',
              YES : 'Yes',
              CANCEL : 'Cancel',
              OK : 'Okey',
              textAutoClose: 'Auto close in %d seconds'
              }
            });
        });
    </script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">출퇴근관리시스템 관리자페이지</a>
          <div class="navbar-brand">[ <%=projectNm %> ]</div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">로그아웃</a></li>
          </ul>          
        </div>
      </div>
    </nav>    
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/workInfo">Overview</a></li>
            <li><a href="/workUsers">상세정보관리</a></li>
            <li><a href="/workVac">휴가신청</a></li>
            <li><a href="#">기초코드등록</a></li>
            <li class="active"><a href="#">Export<span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">데이터 추출 및 리포트</h1>
          <input type="hidden" id="role" name="role" value=<%= role %>>
          <input type="hidden" id="userId" name="userId" value=<%= userId %>>
          <div>
            <div class="form-group" style="width:350px; float:left;">
              <label style="font-size: x-large;">프로젝트 야근 파일 다운로드 </label>              
            </div>      
            <div class="form-group" style="width:350px; float:left;">
              <button type="button" id="workSearch" class="btn btn-default" style="width:80px;">출력</button>
            </div>      
        </div>
      </div>
    </div>
  </body>
</html>
